.sidenav {
    height: 100%; 
    width: 10%; 
    position: fixed; 

    top: 0; 
    left: 0;
    background-color: #ffffff; 
    padding-top: 20px;
    border: 0.5em black solid;
}

#postandcomments {
    float:right;
}